.container {
  width: 200px;
  padding: 200px;
  border: 5px solid rgb(36, 239, 63);
  margin: 15px;
  position: relative;
}
.inner {
  width: 600px;
  height: 100px;
  background: red;
  position: absolute;
  top: 20px;
  left: 1px;
}